
.p1{

	width:200px ;
	height: 200px;
}

body{
	

	
	color: black;
	background-image:url('b2.png') ;
	background-repeat: no-repeat;
	background-size: cover;
	


}
.b1{
	width: 200px;
	height: 200px;
}

}
.gif{
	width: 100px;
	height: 100px;
}
.navbar-expand-sm{
	padding: 0px;
	padding-bottom: 50px;
	text-align: center;
}
.navbar{
	padding: 0px;
	padding-bottom: 50px;
	text-align: center;
}